{ifset $values->title}<h2>{$values->title}</h2>{/ifset}

<p>
    {ifset $values->priority}Priorita: 
        {if $values->priority == 1}Low 
        {elseif $values->priority == 2}Normal
        {elseif $values->priority == 3}High{/if}<br>
    {/ifset}
    {ifset $values->typ}Typ akce: 
        {if $values->typ == 0}Denní{else}Týdenní{/if}<br>{/ifset}
        {ifset $values->date_start}Od: {$values->date_start}{/ifset}{ifset $values->date_end} - {$values->date_end} <br>{/ifset}
        {ifset $values->creator}Vytvořil: {$values->creator->name}<br>{/ifset}
        {ifset $values->notes}Poznámka: {$values->notes}<br>{/ifset}
        {ifset $values->dodatek}Dodatek:{$values->dodatek}<br>{/ifset}
    </p>