{block content}
    <script type="text/javascript">
        /* <![CDATA[ */
     $(document).on("change", "#selectCategory", function(e) {
         console.log($(this).val());
         if($(this).val() !== "0") 
         { 
             $('#newCategory').attr('readonly', 'readonly'); } 
         else {
             $('#newCategory').removeAttr('readonly');
        };

      });
      
    /* ]]> */
    </script>
    
    <div id="form-top">
        {snippet link} 
            <a href="" class="likeabutton">Vložit kontakt</a>
            {foreach $allContacts as $key => $value}
                <a n:href="changeCategory!, id=>$value->kategorie" class="ajax {if $value->kategorie == $kategorie} active {/if}">{$value->ref($dbVersion . 'kategorie', 'kategorie')->nazev}</a>
            {/foreach}
        {/snippet}
        <div> 
            {snippet contactFormSnippet}   {control contactForm} {/snippet}
        </div>

    </div>
   
   
     {snippet contacts}
<div id="data-content">
{if $contacts->fetch()} 
    <h2>Kontakty</h2>
<table n:inner-foreach="$contacts as $contact">
   {dump $contact}
    <tr n:if="$iterator->first" >
        <th>Nazev</th>
        <th>Kontaktní osoba</th>
        <th>Telefon</th>
        <th>Email</th>
        <th>Akce</th>
    </tr>
    <tr>
       
        <td>{$contact->name}</td>
        <td>{$contact->kontaktni_osoba}</td>
        <td>{$contact->telefon}</td>
        <td>{$contact->email}</td>
        <td class="akcetd">
            <a class="edit ajax" n:href="edit! id=>$contact->id ">Editovat</a> | 
            <a class="ajax" n:href="delete! id=> $contact->id" data-confirm="Opravdu smazat event {$contact->name}?"> smazat</a> 
        </td>
    </tr>
</table>
 {else} <h2>Žádné kontakty k dispozici {/if}
</div>
{/snippet}



