<style type="text/css">
    
#sign {
width:500px;
margin: auto;
position: relative;
top: 15%;
text-align: center
}
fieldset { 
    text-align:left;
}
input[type="text"], input[type="password"],  input[type="submit"]{
    width:458px;
}  
</style>

<div id="sign">
<img src="{$basePath}/images/cheese.jpg" alt="logo jupiter">

<fieldset>
    <legend>Přihlášení</legend>
    {control signInForm}
</fieldset>
</div>
