{block content}
    <script type="text/javascript">
    /* <![CDATA[ */
     $(document).on("click", ".sendsuccess", function(e) {
      if(confirm('Přejete si uzavřít událost?'))    {  
        $.nette.ajax({
            type: 'get',
            url:{link success!}, 
            data: { idTask:$(this).data('id') }, 
            success: function () {}
    });
     } else { this.checked = false;}
      });
      
    /* ]]> */
    
        /* <![CDATA[ */
     $(document).on("change", "#selectUser", function(e) {
        $.nette.ajax({
            type: 'get',
            url:{link changeUserView!}, 
            data: { iduser:$(this).val() }, 
            success: function () {}
    });
      });
      
    /* ]]> */
    
    </script>

<div id="form-top">
   {snippet link} 
    <a href="" class="likeabutton">Vložit údálost</a>
    <a href="{link hotove! splneno => 0}" n:class="ajax, (!$active) ? active">Nesplněné úkoly</a>
    <a href="{link hotove! splneno => 1}" n:class="ajax, ($active) ? active">Hotové úkoly</a>
    {control selectUser} 

   <div> 
    {control addEventForm}
   </div>
{/snippet} 
</div>


  {snippet event}
<div id="data-content">
{*weekly events*}
{if $eventsWeekly->fetch()}
    <h2>Týdenní události</h2>
<table n:inner-foreach="$eventsWeekly as $event">
    <tr n:if="$iterator->first" >
        <th>!!!</th>
        <th>Nazev</th>
        <th>Zahajeni akce</th>
        <th>Ukonceni akce</th>
        <th>Poznamka</th>
        <th>Vytvoril</th>
        <th>Pridelena osoba</th>
        <th>Dodatek</th>
        <th>Splneno</th> 
        <th>Akce</th>
    </tr>
    <tr n:class="$presenter->evaluateTime($event->date_end), $event->splneno ? green">
        <td class="img priority"><span class="priority_{$event->priority}"></span></td>
        <td>{$event->title}</td>
        <td>{$event->date_start|date:'j. n. Y'}</td>
        <td>{$event->date_end|date:'j. n. Y'}</td>
        <td>{$event->notes}</td>
        <td>{$event->ref($dbVersion . 'user', 'creator')->name}</td>
        <td>{$event->ref($dbVersion . 'user', 'response_user')->name}</td>
        <td>{$event->dodatek}</td>
        
        <td class="checkbox">
            <input type="checkbox" {if $event->splneno}checked="checked" disabled="disable"{/if} data-id="{$event->id}" class="sendsuccess">
        </td>
        <td class="akcetd">
            <a class="edit ajax" n:href="edit! id=>$event->id ">Editovat</a> | 
            <a class="ajax" n:href="delete! id=> $event->id" data-confirm="Opravdu smazat event {$event->title}?"> Smazat</a> 
        </td>
    </tr>
</table>
{/if}

{*daily events*}
{if $eventsDaily->fetch()}
    <h2>Denní události</h2>
<table n:inner-foreach="$eventsDaily as $event">
    <tr n:if="$iterator->first" >
        <th>!!!</th>
        <th>Nazev</th>
        <th>Zahajeni akce</th>
        <th>Ukonceni akce</th>
        <th>Poznamka</th>
        <th>Vytvoril</th>
        <th>Pridelena osoba</th>
        <th>Dodatek</th>
        <th>Splneno</th> 
        <th>Akce</th>
    </tr>
    <tr  n:class="$presenter->evaluateTime($event->date_end), $event->splneno ? green">
        <td class="img priority"><span class="priority_{$event->priority}"></span></td>
        <td>{$event->title}</td>
        <td>{$event->date_start|date:'j. n. Y'}</td>
        <td>{$event->date_end|date:'j. n. Y'}</td>
        <td>{$event->notes}</td>
        <td>{$event->ref($dbVersion . 'user', 'creator')->name}</td>
        <td>{$event->ref($dbVersion . 'user', 'response_user')->name}</td>
        <td>{$event->dodatek}</td>
        
        <td class="checkbox">
            <input type="checkbox" {if $event->splneno}checked="checked" disabled="disable"{/if} data-id="{$event->id}" class="sendsuccess">
        </td>
        <td class="akcetd">
            <a class="edit ajax" n:href="edit! id=>$event->id ">Editovat</a> | 
            <a class="ajax" n:href="delete! id=> $event->id" data-confirm="Opravdu smazat event {$event->title}?"> Smazat</a> 
        </td>
    </tr>
</table>
{/if}
</div>
{/snippet}