{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>{ifset #title}{include title|striptags} | {/ifset}MamRadSyr</title>

        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
         <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/js/jquery-ui/jquery-ui.min.css">
        <link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
        {block head}{/block}
        {block scripts}
        <script src="{$basePath}/js/jquery.js"></script>
        <script src="{$basePath}/js/netteForms.js"></script>
        <script src="{$basePath}/js/nette.ajax.js"></script>
        <script src="{$basePath}/js/spinner.ajax.js"></script>
        <script src="{$basePath}/js/main.js"></script>
        <script src="{$basePath}/js/jquery-ui/jquery-ui.min.js"></script>
        {/block}
    </head>

    <body>
        <script>
  /**
  (function(i,s,o,g,r,a,m){ i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45858418-1', 'auto');
  ga('send', 'pageview');
 */
        </script>
        
        <script> document.documentElement.className += ' js'</script>
        
        <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{!$flash->message}</div>

        <div id="wrapper">
            <div id="headerwrap">
                <div id="header" class="radius">
                    <img src="{$basePath}/images/cheese.jpg" alt="jupiter911" width="100" >
                    <p> {$user->getIdentity()->username} {$user->getIdentity()->surname} <a n:href="Secured:out">odhlásit</a></p>
                </div>
            </div>
            <div id="contentliquid"><div id="contentwrap">
                    <div id="content" class="radius">
                        {include content}
                    </div>
                </div>
            </div>
            <div id="leftcolumnwrap">
                <div id="leftcolumn" class="radius">
                    <p>{control menu}</p>
                </div>
            </div>
        </div>

        

    </body>
</html>
