
@import url("reset.css");

body {
	font-size: 13px;
	line-height: 1.6;
	color: #333; 
	background: lightgray;
}

h1 {
	color: #3484D2;
}

h2 {
    font-size:18px;
    font-weight: bold;
    margin: 20px 0 5px 0;
}

.green {
    background: #A5E688!important;
}
#dialog-confirm {
    display:none;
}
.warning {
    background: #ffc851!important;
}
.red {
    background: #ffadad!important;
}

.priority {
    background:#ffffff;
    text-align: center;
    width:35px;
}

.priority > span {
    display:block;
    height:35px;
    width:35px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;

}
.priority_1 {   background: #69C06F;}
.priority_2 {   background: #F4850F;}
.priority_3 {   background: #D10602;}

.color_0{
    background: #ffadad!important;
}
.color_1{
    background: #A5E688!important;
}

input[readonly='readonly'], textarea[readonly='readonly'] {
    background:#EBEBE4;
}

a {
    padding:5px;
        color:#000000;
}
a.active {
    background:#A5E688;
    border: 1px dashed #000000;

}
ul li {
    margin:10px 0;
}
#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	position:fixed;
        margin:auto;
        width:100px; 
        height:50px;
        top:50%;
        left:50%;
        border: 1px solid #000;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"], div.flash.error {
	background: #D10602;
	color: white;
}

form th, form td {
	vertical-align: middle;
	font-weight: normal;
}
div.flash a { color:#ffffff;}
div.flash a:hover { text-decoration: none;}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}


p {
    padding: 10px;
}

.radius {
   border-radius: 10px;
   border: 1px solid #000; 
   margin: 5px;
   padding:5px;
}

#wrapper {
    width: 100%;
    min-width: 700px;
    max-width: 1960px;
    margin: 0 auto;
}

#headerwrap {
    width: 100%;
    float: left;
    margin: 0 auto;
}

#header {
    height: auto;
    background: #ffffff;
}

#header img {
    width: 10%;
}

#header p, #header div {
    float:right;
}

#contentliquid {
    float: left;
    width: 100%;
}

#contentwrap {
    margin-left: 200px;
}

#leftcolumnwrap {
    width: 200px;
    margin-left: -100%;
    float: left;
}

#leftcolumn {
    padding:30px;
    background: #ffffff;
}
#content {position:relative;background: #ffffff;}

#form-top table td, #form-top table th {
    padding: 5px;
}
#form-top table{
    margin:auto;
    border: 1px solid #000000;
}
.right-style {
    position:absolute;
    right:5px;
    top:0;
}
#form-top .right-style table {
    border:none;
}

#form-top .hide {
    display:none;
}

#form-top .show {
    display:block;
}


#data-content {
    margin:auto;
}
#data-content  table{
    width:100%;
    text-align: center;
}

#data-content table th {
    font-weight: bold;
    border: 1px solid #000000;
        padding:5px 10px;
}
#data-content  table td {
    padding:5px;
    vertical-align: middle;
    border: 1px solid #000000;
}
#data-content  table img {
    vertical-align: bottom;
}


.likeabutton {
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none; font: menu; color: ButtonText;
    display: inline-block; padding: 2px 8px;
}

  

ul li:hover a, #form-top a:hover{ background:#A5E688;border: 1px dashed #000000; }
ul li:hover ul li a {background: #D10602;color: white; border:none;}
ul li:hover ul, ul li a.active + ul { display:block; }
ul li ul { display:none; padding-left:20px; }

.pobockaForm {margin-top:7px;}
.pobockaForm span{margin-top:3px; display:inline-block;}
.pobockaForm form{ display:inline-block;}
.pobockaForm select { text-transform: capitalize;}

@media screen and (max-width: 1050px){
    #data-content table th
    {
        padding:0;
    }
}

